#pay-tool
  background-color: #fff
  padding-bottom: 70px
  .inner
    max-width: $width
    margin: 0 auto
    text-align: center
  .point
    width: 40%
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    padding: 0 2em