<div id="header">
  <a id="logo" href="<%- url_for("/") %>">
    <img src="<%- url_for("/images/logo.png") %>">
    <span>QueryPHP</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>

<script>
                var _mtac = {};
                (function() {
                    var mta = document.createElement("script");
                    mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.2";
                    mta.setAttribute("name", "MTAH5");
                    mta.setAttribute("sid", "500643266");
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(mta, s);
                })();
                </script>
