<li class="nav-dropdown-container language">
  <a class="nav-link">Language</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="http://queryphp.com/" class="nav-link" target="_blank">English</a></li>
  </ul>
</li>
