<%
    var hasPre = page.prev_link || (page.prev && page.prev.path);
    var hasNext = page.next_link || (page.next && page.next.path);
%>
<nav class="pagination">
      <% if(hasPre) { %>
      <a class="prev button" href="<% if (page.prev_link) { %><%= url_for(page.prev_link) %><% } else { %><%= url_for(page.prev.path) %><% } %>">
        <i class="iconfont icon-left"></i>
        <span class="prev-text">上一页</span>
      </a>
      <% } %>
    
      <% if(hasNext) { %>
      <a class="next button" href="<% if (page.next_link) { %><%= url_for(page.next_link) %><% } else { %><%= url_for(page.next.path) %><% } %>">
        <span class="next-text">下一页</span>
        <i class="iconfont icon-right"></i>
      </a>
      <% } %>
  </nav>